<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>993800292917-l364sq97eqblthvin5me1gjulgpltgh6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.993800292917-l364sq97eqblthvin5me1gjulgpltgh6</string>
	<key>API_KEY</key>
	<string>AIzaSyC0le1_jpxflA0Icpp5r4-3WolD8XvZeIo</string>
	<key>GCM_SENDER_ID</key>
	<string>993800292917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ethandaniel.Custom-Workout-Generator</string>
	<key>PROJECT_ID</key>
	<string>custom-workout-generator-b8fb6</string>
	<key>STORAGE_BUCKET</key>
	<string>custom-workout-generator-b8fb6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993800292917:ios:2b0f85077ff49588</string>
	<key>DATABASE_URL</key>
	<string>https://custom-workout-generator-b8fb6.firebaseio.com</string>
</dict>
</plist>